<div class="sidebar-nav">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu LIst -->
      <div
        class="bg-light offcanvas offcanvas-start shadow"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li>
              <a href="#"> <span class="item-text">HOME</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">FEATURES</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">DESIGN</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">SUPPORT</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">TESTIMONIALS</span> </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-danger me-5">
        <h3>INTENSE APP</h3>
      </div>
    </div>
  </nav>
</div>
