<div class="sidebar-nav">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu LIst -->
      <div
        class="bg-light offcanvas offcanvas-start shadow"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li>
              <a href="#"> <span class="item-text">HOME</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">FEATURES</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">DESIGN</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">SUPPORT</span> </a>
            </li>
            <li>
              <a href="#"> <span class="item-text">TESTIMONIALS</span> </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mx-auto">
        <img
          src="../assets/images/navbar-logo-ligth-183x32.webp"
          alt="logo"
          class="img-fluid"
        />
      </div>
    </div>
  </nav>
</div>

<!-- The Content Section -->
<section class="text-light p-2 text-center mt-5 background">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5 text-start background">
        <div class="col-12 mt-5">
          <h1 class="">
            Get INTENSE <br />
            App Now!
          </h1>
          <p class="mt-4 fs-5">
            INTENSE is the most unique mobile app, designed for managing
            startups, small business projects, and supporting modern companies.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="col-12">
          <img
            src="../assets/images/home-01-434x642.webp"
            alt="home screen"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Key Features Section -->
<section class="bg-light text-dark p-3 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-center fw-1 my-4">Our Key Features</h1>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light style-width">
          <div class="col-12 text-center p-3">
            <img
              src="../assets/images/icon-01-64x64.webp"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">SECURE DATA</h5>
            <p class="card-text p">
              Transfer all information with the help of SSL - a solution
              allowing you to save any data from the public eye.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light">
          <div class="col-12 text-center p-3">
            <img
              src="../assets/images/icon-02-64x64.webp"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">NETWORK WORKFLOW</h5>
            <p class="card-text">
              Network Workflow feature will let you build, organize, and develop
              a sustainable network in seconds.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light">
          <div class="col-12 text-center p-3">
            <img
              src="../assets/images/icon-03-64x64.webp"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">TOP RATING PRODUCT</h5>
            <p class="card-text">
              Our app has won numerous awards from leading high-tech mass media
              and received worldwide recognition.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Extremely Reponsive Section -->
<section class="text-dark p-2 text-center mt-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5 text-start">
        <div class="col-12 mt-5">
          <h1 class="fw-bold">
            Extremely Responsive <br />
            and Retina Ready
          </h1>
          <p class="mt-4 fs-5">
            Due to the responsive design and Retina technology built in <br />
            our app, you can launch it on any devices or <br />
            modern gadgets.
          </p>
          <button type="button" class="btn btn-danger mb-5 mt-4 btn-download">
            DOWNLOAD FOR FREE
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <div class="col-12">
          <img
            src="../assets/images/home-02-641x340.webp"
            alt="home screen"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- We help you grow Section -->
<section class="text-light p-2 background-c text-center">
  <div class="container">
    <div class="row my-5">
      <div class="col-sm-12 col-md-7 col-lg-7 mt-5 text-start"></div>
      <div class="col-sm-12 col-md-5 col-lg-5 mt-5">
        <div class="col-12 mt-5 text-start">
          <h1 class="fw-bold">We Help You Grow</h1>
          <p class="mt-4 fs-5">
            Intense Mobile App enables all its users with constant support and
            wide set of tools to develop and grow their businesses and projects.
          </p>
          <button
            type="button"
            class="btn btn-light button mt-4 mb-5 w-50 btn-download"
          >
            TRY NOW
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Service Section -->
<section class="text-dark text-center bg-secondary">
  <div class="container">
    <div class="row my-5">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5 text-start">
        <div class="col-12 mt-5">
          <h1 class="fw-bold">Our Services</h1>
          <p class="mt-4 fs-5">
            Intense Mobile App enables all its users with constant support and
            wide set of tools to develop and grow their businesses and projects.
          </p>
          <button
            type="button"
            class="btn btn-danger text-dark mt-4 btn-download"
          >
            DOWNLOAD FOR FREE
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
        <div class="col-12">
          <img
            src="../assets/images/home-03-617x599.webp"
            alt="home screen"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
