.background {
  background: #ff6a5a;
}

.background-c {
  background: #00cfaf;
}

.button {
  color: #00cfaf;
}

.p {
  font-size: 15px;
}

.bg-secondary {
  background: #fafafa !important ;
}

.bg-light {
  background: #fff !important ;
}

.btn-download {
  border-radius: 25px;
  height: 50px;
}
